<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bzapps.gcpremium"
        version     = "1.0.0"
        versionCode = "11" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.1" />

        <name>Gasto Calórico</name>

        <description>
        Gasto Calórico
        </description>

        <author href="http://www.zeusfitsolution.yolasite.com/" email="brunnocgoncalves@gmail.com">
        Brunno Gonçalves
        </author>

        <gap:plugin name="org.apache.cordova.device" />

        <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
        <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
        <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
        <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    </widget>